/***FONTS*****/

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Sigmar+One|Lobster|Patua+One|Architects+Daughter|Kaushan+Script|Fredoka+One|Rock+Salt|Shadows+Into+Light+Two|Permanent+Marker|Handlee|Great+Vibes|Just+Another+Hand|Niconne|Limelight|Damion|Calligraffitti|Audiowide|Bad+Script);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/
/******************************************************************/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: ;
    font-family: 'Slabo 27px', serif;
    /*font-size: 0.7em;*/
    color: #000;
    box-sizing:border-box;

}

.wrapper1, wrapper2, wrapper3 {
    height: 100%;
    width: 100%;
}

nav {
/*    height: 6%;*/
}

#jumbotron {
/*	background-image: url('../images/cityscape-mutuamatheka.jpg');*/
    position: relative;
   /* background-size: cover;*/
	height: 100%;
    width: 100%;
    background-color: black;

}

.vida {
    background-size: cover;

    /*to fit in div*/
    min-width: 100%;
   /* min-height: 100%; */
    width: auto;
    height: auto;

    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: opacity(.7);
  filter: opacity(.7);

}

.container, .container1 {
 width: 100%;

}

#top1 {
    position: absolute;
    top: 30%;
    /*left: 30px;
    top: 50px;*/
    width: 100%;
    height: 70%;
    background-color: aliceblue;
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;


}
#map {
	width: 500px;
	height: 400px;
}
