/***FONTS*****/

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Sigmar+One|Lobster|Patua+One|Architects+Daughter|Kaushan+Script|Fredoka+One|Rock+Salt|Shadows+Into+Light+Two|Permanent+Marker|Handlee|Great+Vibes|Just+Another+Hand|Niconne|Limelight|Damion|Calligraffitti|Audiowide|Bad+Script);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/
/******************************************************************/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: ;
    font-family: 'Poiret One', cursive;
    /*font-family: 'Slabo 27px', serif;*/
    /*font-size: 0.7em;*/
    color: #000;
    box-sizing:border-box;

}

a {
    text-decoration: none;
}

a {
    font-weight: bold;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    font-weight: 600;
}

p {
    font-size: 1.8em;
    letter-spacing: -1px;
}

a:hover {
    color: #66DE3E;
    text-decoration-style: dashed;

}
.wrapper1 {
    height: 100%;
    width: 100%;
}


#jumbotron {
/*	background-image: url('../images/cityscape-mutuamatheka.jpg');*/
    position: relative;
   /* background-size: cover;*/
	height: 100%;
    width: 100%;
    background-color: black;

}

.vida {
    background-size: cover;

    /*to fit in div*/
    min-width: 100%;
   /* min-height: 100%; */
    width: auto;
    height: auto;

    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;
 /*   -webkit-filter: opacity(.7);
  filter: opacity(.7);*/

}

/***********************************************************************/
/* Fading Divs */

#top1, #mid {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /*padding-top: 8.5%;*/
}

.sec1 {
    height: 20%;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    background-color: aliceblue;
}

.sec2, .sec3, .sec4, .sec5 {
    height: 6.25%;
   background-color: aliceblue;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

.sec7, .sec8, .sec9, .sec10 {
    height: 6.25%;
    background-color: aliceblue;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

/*********Section with text*********/
.sec6 {
    height:14%
    background-color: aliceblue;
    -webkit-filter: opacity(1);
    filter: opacity(1);
    color: aliceblue;
}
.sec6 h1:hover {
    color: #66DE3E;
    text-decoration-style: dashed;
    font-weight: bold;
}

.sec6 p, .sec6 h1 {
     -webkit-filter: opacity(1);
    filter: opacity(1);
}

/***************************************/
.sec11 {
    height: 15%;
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
}
.sec10 {

    -webkit-filter: opacity(.7);
    filter: opacity(.7);
}
.sec9 {
    -webkit-filter: opacity(.6);
    filter: opacity(.7);
}
.sec8 {

    -webkit-filter: opacity(.4);
    filter: opacity(.4);
}
.sec7 {

    -webkit-filter: opacity(.3);
    filter: opacity(.3);
}




/**********************************************/
/*-------------------------------------------------------------------------->
    <!--------------PAGE 2 ----------------- */
#wrapper2 {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: chartreuse;
    border-width: 1px;

}

#mid {
    height: 100%;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

#mid .top2 {
    height: 10%;
    background-color: aliceblue;
    -webkit-filter: opacity(0.7);
    filter: opacity(0.7);
}

#mid .bottom2 {
    height: 90%;
    background-color: aliceblue;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

/*-------------------------------------------------------------------------->
    <!--------------PAGE 3 ----------------- */

#wrapper3 {
    width: 100%;
    margin-top: 30px;
    background-color: black;
    height: 500px;
    color: aliceblue;
    text-align: center;
}

/** Contacts **/
#wrapper3.col-md-4 {
    height: 500px;

    padding-top:
}

#twitter {
    margin-top: 30px;

}

iframe {
	width: 470px;
	height: 400px;
}


<!-----FOOTER ------->
#footer {
    height: 50px;
    background-color:aliceblue;
    color: black;
    text-align: center;
}

#footer.col-md-12 {
    height: 95px;
    background-color:#fff;
    color: black;
    text-align: center;
    font-size: 1.2em;
}

#footer.col-md-12 .col-md-4 {
    padding-top: 20px;

}
#footer.col-md-12 .col-md-3 {
    padding-top: 20px;
}

#footer.col-md-12 .col-md-1 {
   background-color:chartreuse;
    margin: 0;
    padding-right: 5px;

    height: 70px;
}
