/***FONTS*****/

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Sigmar+One|Lobster|Patua+One|Architects+Daughter|Kaushan+Script|Fredoka+One|Rock+Salt|Shadows+Into+Light+Two|Permanent+Marker|Handlee|Great+Vibes|Just+Another+Hand|Niconne|Limelight|Damion|Calligraffitti|Audiowide|Bad+Script);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/
/******************************************************************/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: ;
    font-family: 'Poiret One', cursive;
    /*font-family: 'Slabo 27px', serif;*/
    /*font-size: 0.7em;*/
    color: #000;
    box-sizing:border-box;

}

a {
    text-decoration: none;
}

a {
    font-weight: bold;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
    letter-spacing: 3px;
    font-weight: 600;
}
h1 {
    font-size: 200px;
}

p {
    font-size: 1.8em;
    letter-spacing: -1px;
}

a:hover {
    color: #66DE3E;
    text-decoration-style: dashed;

}
#wrapper1, #wrapper2, #wrapper3 {
    height: 100%;
    width: 100%;
}


#jumbotron, #jumbotron2 {
/*	background-image: url('../images/cityscape-mutuamatheka.jpg');*/
    position: relative;
   /* background-size: cover;*/
	height: 100%;
    width: 100%;
    background-color: black;
}

.vida {
    background-size: cover;

    /*to fit in div*/
    min-width: 100%;
    width: auto;
    height: 100%;

    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);

    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;
 /*   -webkit-filter: opacity(.7);
  filter: opacity(.7);*/

}

/***********************************************************************/
/* Fading Divs */

#top1, #mid, #contacts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /*padding-top: 8.5%;*/
}

.sec2, .sec3, .sec4, .sec5, .sec7, .sec8, .sec9, .sec10, .sec11, .sec12, .sec13, .sec14, .sec15 {
    background-color: aliceblue;
}

.sec1 {
    height: 20%;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

.sec2, .sec3, .sec4, .sec5 {
    height: 6.25%;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

/*********Section with text*********/
.sec6 {
    height:15%
    background-color: aliceblue;
    -webkit-filter: opacity(1);
    filter: opacity(1);
    color: aliceblue;
}
.sec6 h1:hover {
    color: #66DE3E;
    text-decoration-style: dashed;
    font-weight: bold;
}

.sec6 p, .sec6 h1 {
     -webkit-filter: opacity(1);
    filter: opacity(1);
}

/***************************************/
.sec7 {
    height: 2%;
    -webkit-filter: opacity(.1);
    filter: opacity(.1);
}
.sec8 {
    height: 3%;
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
}
.sec9 {
    height: 3%;
    -webkit-filter: opacity(.3);
    filter: opacity(.3);
}
.sec10 {
    height: 4%;
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
}
.sec11 {
    height: 4.5%;
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
}
.sec12 {
    height: 5%;
    -webkit-filter: opacity(.6);
    filter: opacity(.6);
}
.sec13 {
    height: 6%;
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
}

.sec14 {
    height: 6.5%;
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
}
.sec15 {
    height: 33px;
    -webkit-filter: opacity(.8);
    filter: opacity(1);
}


/**********************************************/
/*-------------------------------------------------------------------------->
    <!--------------PAGE 2 ----------------- */
#wrapper2 h2 {
    color:  #0E73B7;
}

#mid {
    height: 100%;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

#mid .top2 {
    height: 10%;
    background-color: #fff;
    -webkit-filter: opacity(.2);
    filter: opacity(.9);
}

#mid .bottom2 {
    height: 90%;
    background-color: #fff;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

/*-------------------------------------------------------------------------->
    <!--------------PAGE 3 ----------------- */
#wrapper3 h2 {
    color:  #0E73B7;
}



/*-------------------------------------------------------------------------->
    <!--------------LAST PAGE ----------------- */

#wrapper4 {
    width: 100%;
    height: 50%;
}

#wrapper4 h2 {
    color:  #0E73B7;
    text-align: center;
}

#jumbotron3 {
    position: relative;
   	height: 100%;
    width: 100%;
    background-color: black;
}

.contact-top {
    height: 10%;
    background-color: #fff;
    -webkit-filter: opacity(0);
    filter: opacity(0);
}

#contact-mid {
    height: 90%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

iframe {
    height: 100%;
    width: 95%;
}

/****<!-----FOOTER ------->****/
#footer.col-md-12 {
    height: 10%;
    background-color: #fff;
    color:  #000;
    text-align: center;
    font-size: 1.2em;

    -webkit-filter: opacity(1);
    filter: opacity(1);
}


#footer.col-md-12 .col-md-1 {
   background-color:chartreuse;
    margin: 0;
    height: 100%;
}
